doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//' + domain + '/css/bower.css')
    link(rel='stylesheet', href='//' + domain + '/css/style.css')
    
    script(type='text/javascript', src='//' + domain + '/js/bower.js')
  body
    block content