.navbar-default .navbar-brand {
    font-weight: 300;
    font-size: 21px;
}

.navbar-brand > img {
    display: inline-block;
    margin-top: -4px;
    padding-right: 4px;
}

.profile-image {
    height: 25px;
    padding-right: 4px;
}

a.admin-resource:hover, a.admin-resource:focus {
    text-decoration: none;
}

.admin-resource-image {
    height: 200px;
    width: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}