.navbar-default .navbar-brand {
    font-weight: 300;
    font-size: 21px;
}

.navbar-brand > img {
    display: inline-block;
    margin-top: -4px;
    padding-right: 4px;
}

.profile-image {
    height: 25px;
    padding-right: 4px;
}